{{define "title"}}About{{end}}
{{define "main"}}
<h2>About</h2>
<p>
Glyst is a lightweight, fast, and secure paste-sharing platform built in Go. 
It lets users instantly create and share code snippets or text notes like a personal GitHub Gist
</p>
{{end}}

